*, *::after, *::before {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    --white: #F9FAF8;
    --gray: #E5E7EB;
    --blue: #3882F6;
    --dark-blue: #1F2937;
}


body {
    background-color: var(--dark-blue);
}

label {
    color: var(--white)
}

.box {
    background-color: var(--white);
    transition: background-color 250ms linear
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

}

body {
    font-family: Arial, sans-serif;
}

.header {
    color: var(--white);
    text-align: center;
    margin: 50px;
}

.box-container {
    width: 512px;
    height: 512px;

    border: 5px solid var(--blue);
}

.container {
    display: flex;

    justify-content: center;
    align-items: center;
}

.grid-size-btn {
    width: 150px;
    height: 70px;

    margin: 50px;

    border-radius: 15px;

    background-color: var(--blue);
    color: var(--white);

    font-size: 18px;
    font-weight: bold;
}